**/node_modules/*
**/out/*
**/.next/*
env.config.js
env.development.config.js
next.config.js
packages/react-graph-chainbridge/src/ethereum/interfaces/index.ts
packages/react-graph-chainbridge/src/substrate/interfaces/index.ts