# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
esm
.pnpm-debug.log
tsconfig.tsbuildinfo

# misc
.DS_Store
.env.*
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

storybook-static
public

common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
temp
*.log
.rush
.eslintcache
