{
  "extends": [
    "@phala/eslint-config",
    // "@phala/eslint-config/react",
    "next/core-web-vitals"
  ],
  "rules": {
    "@next/next/no-img-element": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
