[[headers]]
  for = "/_next/static/*"
  [headers.values]
    Cache-Control = "public, max-age=604800"
[[headers]]
  for = "/*"
  [headers.values]
    Referrer-Policy = "strict-origin-when-cross-origin"
    X-Frame-Options = "SAMEORIGIN"
